@charset "UTF-8";
:root {
  /* цве основного текста */
  --primary-text-color: #757575;
  /* цвет заголовков */
  --title-text-color: #212121;
  /* цвет фона подвала */
  --foot-color: #2F303A;
  /*Цвет фона основного контента  */
  --bg-main-color: #E5E5E5;
  /* Цвет фона навбара */
  --bg-nav-color:#FFFFFF;
  /*  цвет акцент #296F3
    */
  --accent-color:#2196F3;
  /* цвет почты и телефона rgba(255, 255, 255, 0.6) */
  --contact-color:rgba(255, 255, 255, 0.6);
  /* цвет команды и фильтр кнопок #F5F4FA */
  --filter-color:#F5F4FA;
  /* цвет бордера */
  --border-color: #EEEEEE;
  --fon-ikon: #AFB1B8;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  height: auto;
  display: block;
  /* max-width: 100%; */
}

.sec-padding {
  padding-top: 0;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav {
  display: flex;
  align-items: center;
  background-color: var(--bg-nav-color);
}

.nav-list {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .list-title {
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
}

.nav-list .list-title .item:not(:last-child) {
  margin-right: 50px;
}

.list .active {
  color: var(--accent-color);
  position: relative;
}

.list .active::after {
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  display: block;
  background: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
}

.header .info {
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 0.875;
}

.header .list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header .list-title {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .list-title:hover {
  color: var(--accent-color);
}

.header .list-title:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-button {
  background-color: var(--accent-color);
  color: var(--bg-nav-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  padding: 10px 22px;
  min-width: 130px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .hero-button:hover {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero .hero-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.filters-button {
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  align-items: center;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover {
  color: var(--bg-nav-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filters-button:focus {
  color: var(--bg-nav-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-button, .button-form-fotter {
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--bg-nav-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  padding: 10px 22px;
  min-width: 130px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 50px;
}

.modal-button:hover {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-btn {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-nav-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  font-size: 14px;
  display: flex;
  margin-left: auto;
}

.header-contact .item:not(:last-child) {
  margin-right: 50px;
}

.info-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-link:hover {
  color: var(--accent-color);
}

.info-link:hover .info-icon {
  color: var(--accent-color);
}

.info-link:focus {
  color: var(--accent-color);
}

.info-link:focus .info-icon {
  color: var(--accent-color);
}

.info-icon {
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.quality-list {
  display: flex;
}

.quality-list .flex-element {
  width: calc((100% - 90px) / 4);
}

.quality-list .flex-element:not(:last-child) {
  margin-right: 30px;
}

.quality-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.quality-text {
  line-height: 1.71;
}

.quality-icon {
  width: 70px;
  height: 70px;
}

.box-icon {
  height: 120px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--filter-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.logo {
  margin-right: 93px;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}

.header-logo {
  color: var(--accent-color);
}

.header-logo span {
  color: var(--title-text-color);
}

.hero {
  background-color: var(--foot-color);
  color: var(--bg-nav-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero .container {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
}

.doing .container {
  text-align: center;
}

.doing-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-list .flex-element {
  width: calc((100% - 60px) / 3);
}

.doing-list .flex-element:hover .doin-text {
  transform: translateY(0);
}

.doing-list .flex-element:not(:last-child) {
  margin-right: 30px;
}

.doing-top-wrap {
  position: relative;
  overflow: hidden;
}

.doin-text {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(100%);
  color: var(--bg-nav-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team {
  background-color: var(--filter-color);
}

.our-team .container {
  text-align: center;
}

.our-team .list {
  display: flex;
}

.our-team .flex-element {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bg-nav-color);
}

.our-team .flex-element:not(:last-child) {
  margin-right: 30px;
}

.our-team .info-personal {
  margin-top: 30px;
  margin-bottom: 30px;
}

.our-team .list-title {
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 10px;
}

.our-team .list-text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.our-team-title {
  font-weight: bold;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.title-clients {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients .list-clients {
  display: flex;
}

.clients .item-clients {
  width: 170px;
  height: 92px;
  fill: var(--fon-ikon);
}

.clients .item-clients:not(:last-child) {
  margin-right: 30px;
}

.clients .logo-client-icon {
  fill: var(--fon-ikon);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link-client {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link-client:hover {
  border-color: var(--accent-color);
}

.clients .link-client:hover .logo-client-icon {
  fill: var(--accent-color);
}

.clients .link-client:focus {
  border-color: var(--accent-color);
}

.clients .link-client:focus .logo-client-icon {
  fill: var(--accent-color);
}

.our-team .team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team .team-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.our-team .team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team .team-social-link:hover {
  background: var(--accent-color);
}

.our-team .team-social-link:hover .team-social-icon {
  fill: var(--bg-nav-color);
}

.our-team .team-social-link:focus {
  background: var(--accent-color);
}

.our-team .team-social-link:focus .team-social-icon {
  fill: var(--bg-nav-color);
}

.our-team .team-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--fon-ikon);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--bg-nav-color);
  margin-bottom: 20px;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  margin-left: 70px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--border-color);
}

.footer {
  background-color: var(--foot-color);
  padding: 60px 15px;
}

.footer-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
}

.footer .list {
  font-style: normal;
}

.footer .logo span {
  color: var(--bg-nav-color);
}

.footer .list-text {
  color: var(--bg-nav-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer .info {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.71;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .info:hover {
  color: var(--accent-color);
}

.footer .info:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.form-commit-footer {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
}

.footer-form {
  display: flex;
}

.footer-modal-input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 10px;
  color: var(--contact-color);
}

.footer-modal-input:hover {
  border: 1px solid var(--accent-color);
}

.footer-modal-input:focus {
  border: 1px solid var(--accent-color);
}

.footer-modal-label {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-nav-color);
}

.footer-modal-field {
  margin-right: 10px;
}

.footer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  height: 50px;
  outline: none;
}

.footer-text-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer-icon {
  margin-left: 10px;
  fill: var(--bg-nav-color);
}

.projects .filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects .filters .flex-element:not(:last-child) {
  margin-right: 9px;
}

.projects .list-project {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects .list-project .flex-element:hover .description-text {
  transform: translateY(0);
}

.projects .section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects .flex-element-project {
  width: 370px;
  margin: 15px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .flex-element-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .flex-element-project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-top-wrap {
  position: relative;
  overflow: hidden;
}

.description-text {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  line-height: calc(28 / 18);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  color: var(--bg-nav-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-project {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--bg-nav-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.icon-send:hover {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: #212121;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-field {
  margin-bottom: 10px;
  position: relative;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 \ 12);
  color: var(--primary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  padding-left: 40px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input:hover {
  border: 1px solid var(--accent-color);
}

.modal-input:hover + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover {
  border: 1px solid var(--accent-color);
}

.modal-text:focus {
  border: 1px solid var(--accent-color);
}

.form-commit {
  display: flex;
  flex-direction: column;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrap {
  display: block;
  position: relative;
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 /14);
  color: var(--primary-text-color);
  margin-left: 14px;
}

.span-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
}

.check-link {
  font-size: 14px;
  line-height: calc(24 /14);
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 7px;
}

.input-check:checked + .check-text .span-box {
  background-color: var(--accent-color);
}

.input-icon-check {
  fill: var(--bg-nav-color);
}
/*# sourceMappingURL=main.css.map */