.doing {
    .container {
        text-align: center;
    }
}
.doing-title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.doing-list {
    display: flex;
    flex-wrap: wrap;

    .flex-element {
        width: calc((100% - 60px) / 3);   
    }
    .flex-element:hover {
        .doin-text {
         transform: translateY(0);
        }
    }
    .flex-element:not(:last-child) {
        margin-right: 30px;
    }

}

.doing-top-wrap {
    position: relative;
    overflow: hidden;
}

.doin-text {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    background: rgba(47, 48, 58, 0.8);
    transform: translateY(100%);
    color: var(--bg-nav-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}