.footer {
    background-color: var(--foot-color);
    padding: 60px 15px;
}

.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    .logo {
        color: var(--accent-color);
        display: block;
        margin-bottom: 20px;
    }

    .list {
        font-style: normal;
    }

    .logo {
        span {
            color: var(--bg-nav-color);
        }
    }

    .list-text {
        color: var(--bg-nav-color);
        font-size: 14px;
        line-height: 1.71;
    }

    .info {
        color: var(--contact-color);
        font-size: 14px;
        line-height: 1.71;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--accent-color);
        }

        &:focus {
            color: var(--accent-color);
        }
    }
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
