.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: var(--bg-nav-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.icon-send:hover {
    fill: var(--accent-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: #212121;
    margin-bottom: 20px;
    font-weight: bold;
}

.modal-field {
    margin-bottom: 10px;
    position: relative;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 \ 12);
    color: var(--primary-text-color);
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    padding-left: 40px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid var(--accent-color);

        & + .modal-input-icon {
            fill: var(--accent-color);
        }
    }

    &:hover {
        border: 1px solid var(--accent-color);

        & + .modal-input-icon {
            fill: var(--accent-color);
        }
    }
}

.modal-text {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    resize: none;
    padding: 12px 16px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid var(--accent-color);
    }

    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.form-commit {
    display: flex;
    flex-direction: column;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.input-wrap {
    display: block;
    position: relative;
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: calc(24 /14);
    color: var(--primary-text-color);
    margin-left: 14px;
}

.span-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
}

.check-link {
    font-size: 14px;
    line-height: calc(24 /14);
    color: var(--accent-color);
    text-decoration: underline;
    margin-left: 7px;
}

.input-check:checked + .check-text {
    .span-box {
        background-color: var(--accent-color);
    }
}

.input-icon-check {
    fill: var(--bg-nav-color);
}
