.projects {
    .filters {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        .flex-element:not(:last-child) {
            margin-right: 9px;
        }
    }

    .list-project {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

        .flex-element:hover .description-text {
            transform: translateY(0);
        }
    }

    .section-title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }

    .flex-element-project {
        width: 370px;
        margin: 15px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
}

.project-top-wrap {
    position: relative;
    overflow: hidden;
}

.description-text {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 63px 24px;
    line-height: calc(28 / 18);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    color: var(--bg-nav-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-project {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
