.hero {
    .hero-button {
        background-color: var(--accent-color);
        color: var(--bg-nav-color);
        font-weight: bold;
        font-size: 16px;
        line-height: 1.875;
        border-radius: 4px;
        padding: 10px 22px;
        min-width: 130px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15);
        border: 1px solid transparent;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

        &:focus {
            background: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }
    }
}

.filters-button {
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    align-items: center;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--bg-nav-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &:focus {
        color: var(--bg-nav-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.modal-button, .button-form-fotter {
    margin: 0 auto;
    background-color: var(--accent-color);
    color: var(--bg-nav-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
    padding: 10px 22px;
    min-width: 130px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;
    height: 50px;
}

.modal-button {
    &:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.close-btn {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--bg-nav-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
