.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}
