.our-team {
    .team-social-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-social-item {
        width: 44px;
        height: 44px;
        margin-right: 10px;
    }

    .team-social-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background: var(--accent-color);

            .team-social-icon {
                fill: var(--bg-nav-color);
            }
        }

        &:focus {
            background: var(--accent-color);

            .team-social-icon {
                fill: var(--bg-nav-color);
            }
        }
    }

    .team-social-icon {
        width: 20px;
        height: 20px;
        fill: var(--fon-ikon);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

// fotter social

.footer-social-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--bg-nav-color);
    margin-bottom: 20px;
    margin-left: 70px;
}

.footer-social-list {
    display: flex;
    margin-left: 70px;
}

.footer-social-item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: var(--accent-color);
    }

    &:focus {
        background-color: var(--accent-color);
    }
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--border-color);
}