:root {
    /* цве основного текста */
    --primary-text-color: #757575;

    /* цвет заголовков */
    --title-text-color: #212121;

    /* цвет фона подвала */
    --foot-color: #2F303A;

    /*Цвет фона основного контента  */
    --bg-main-color: #E5E5E5;

    /* Цвет фона навбара */
    --bg-nav-color:#FFFFFF;

    /*  цвет акцент #296F3
    */
    --accent-color:#2196F3;

    /* цвет почты и телефона rgba(255, 255, 255, 0.6) */
    --contact-color:rgba(255, 255, 255, 0.6);

    /* цвет команды и фильтр кнопок #F5F4FA */
    --filter-color:#F5F4FA;

    /* цвет бордера */
    --border-color: #EEEEEE;
    --fon-ikon: #AFB1B8;
}
